.block_data div {
    display: block;
    font: 10pt Verdana, serif;
    background-color: snow;
}

.block_data > div:hover {
    background-color: green;
    color: snow;
}

.none_data {
    display: none;
}

.block_detail {
    display: flex;
    justify-content: space-between;
    font: 10pt Verdana, serif;
    background-color: snow;
}

.left_block div {
    margin: 10px;
}

.left_block div:nth-child(1), .left_block div:nth-child(2) {
    font: 12pt Verdana, serif;
}

.right_block {
    width: 30%;
    margin: 10px;
}

.comments_field {
    margin: 10px 0;
    height: 60px;
    overflow: hidden;
}

.comments_field_modal {
    margin: 10px 0;
    height: 100px;
    overflow: scroll;
}

.comment_content {
    font-style: italic;
    font-size: 14pt;
    border-bottom: 1px solid grey;
}

