.order_detail {
   border: none;
   font: 3pt Georgia, serif;
   margin: 0;
}

* {
   box-sizing: border-box;
}

.accordion-button {
   padding: 0;
}

.block_table {
   padding: 0;
}

.block_table button {
   padding: 0;
}

.table_order {
   display: flex;
   font: 9pt Georgia, serif;

}

.table_order div:nth-child(1),
.table_order div:nth-child(6) {
   min-width: 6%;
   padding-left: 4px;
   overflow: hidden;
   text-align: start;
}

.table_order div:nth-child(2),
.table_order div:nth-child(3),
.table_order div:nth-child(7),
.table_order div:nth-child(11),
.table_order div:nth-child(10),
.table_order div:nth-child(13) {
   min-width: 6%;
   padding-left: 4px;
   overflow: hidden;
   text-align: start;
}

.table_order div:nth-child(4),
.table_order div:nth-child(8),
.table_order div:nth-child(9),
.table_order div:nth-child(12) {
   min-width: 6%;
   padding-left: 4px;
   overflow: hidden;
   text-align: start;
}

.table_order div:nth-child(15) {
   min-width: 9%;
   padding-left: 4px;
   overflow: hidden;
   text-align: start;
}
