.group_form {
    font: 10pt Arial, sans-serif;
    display: none;
    width: 300px;
    height: 250px;
    background-color: #EDEDED;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.group_form.open_group_form {
    display: block;
}

.group_form.close_group_form {
    display: none;
}

.group_form_block {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.form_group_name {
    font: bold 20pt Verdana, serif;
}

.err_group_form {
    margin: 5px;
    color: #656565;
    font: 5px Arial, sans-serif bold;
}

.btn_group_form {
    font: 18px Verdana, serif;
    width: 40%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_group_form:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn_group_form:hover:enabled {
    background-color: #45a049;
}

.buttons_group_form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.group_form_header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
