.orders_none {
    display: none;
}

.order_page {
    align-items: stretch;
    background-color: #C5E384;
    display: flex;
    flex-direction: column;
}

.orders_block {
    background-color: #C5E384;
    width: 100%;
}
