.actions_header {
    color: slategrey;
    font: bold 20pt Verdana, serif;
}

.body_actions {
    align-items: center;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.okten_logo {
    margin-top: 20px;
    width: 50%;
}

.orders {
    border-radius: 10px;
    min-width: 100vw;
    padding-bottom: 50px;
}

.order {
    min-width: 100%;
}

.orders_none {
    display: none;
}

.table {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    min-width: 1100px;
}

.table_data {
    cursor: pointer;
    font: bold 7pt Georgia, serif;
    min-width: 99vw;
}

.table_data div {
    padding: 5px;
    text-align: center;
}

.table_data .table_header {
    background-color: #267cb5;
    color: snow;
}

.table_data div:nth-child(1),
.table_data div:nth-child(6) {
    min-width: 3%;
}

.table_data div:nth-child(2),
.table_data div:nth-child(3),
.table_data div:nth-child(9) {
    min-width: 7%;
}

.table_data div:nth-child(8),
.table_data div:nth-child(15) {
    min-width: 8%;
}

.table_data div:nth-child(5),
.table_data div:nth-child(14) {
    min-width: 10%;
}

.table_data div:nth-child(7),
.table_data div:nth-child(10),
.table_data div:nth-child(11),
.table_data div:nth-child(12),
.table_data div:nth-child(13) {
    min-width: 5%;
}

.table_data div:nth-child(4) {
    min-width: 12%;
}
