label {
    margin: 10px 0 5px;
}

.buttons_user_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.user_form {
    width: 300px;
    height: 400px;
}

.user_form_header {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
