.user_container {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 20px 20px;
}

.block_data {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.block_stat {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.block_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.btn_action {
    background-color: #E3827F;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    color: #81ECDE;
    font: 10pt Tahoma, sans-serif;
}

.btn_action:hover {
    background-color: red;
    color: white;
}

.user_content {
    color: #708090;
    font: bold 12pt Helvetica, sans-serif;
}

.user_data {
    font: 15pt "Courier New", serif;
}
