.block_user {
    font-size: 10pt;
    margin: 0 0 10px 10px;
    width: 35%;
}

.user_content, .user_statistics {
    font: bold 10pt Helvetica, serif;
}

.user_data, .count_content {
    font: 12pt Helvetica, serif;
}

.container_user {
    display: flex;
}

.block_button button {
    margin: 10px 20px 0 0;
}
