.btn_form {
    background-color: #4CAf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font: 10pt Verdana, serif;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 40%;
}

.btn_form:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

.btn_form:hover:enabled {
    background-color: #45A049;
}

.btn_open {
    background-color: #267CB5;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    height: 30px;
    font: 10pt Tahoma, sans-serif;
    margin: 5px;
    text-align: center;
    width: 9vw;
}

.btn_open[disabled] {
    background-color: cornflowerblue;
    color: #D3EAFF;
    border: none;
    cursor: not-allowed;
}

.btn_open:hover:enabled {
    background-color: #0056B3;
    color: snow;
}

.btn_submit {
    background-color: #4CAf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font: 12pt Verdana, serif;
    margin-top: 30px;
    padding: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn_submit:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.btn_submit:hover:enabled {
    background-color: #45A049;
}
