.err_text {
    color: red;
    font-size: 9pt;
    margin: 2px;
}

.form_block {
    align-items: center;
    background-color: #EDEDED;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

label {
    font-size: 10pt;
}

.logo_form {
    width: 50%;
}

.login_form {
    height: 80%;
    width: 90%;
}

.modal_form {
    font: 12pt Arial, sans-serif;
    background-color: #EDEDED;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}


