.order_form {
    font: 12pt Arial, sans-serif;
    display: none;
    width: 700px;
    height: 600px;
    background-color: #EDEDED;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.order_form_header {
    text-align: center;
    font-weight: bold;
}

.order_form.open_order_form {
    display: block;
}

.group_form {
    width: 45%;
}

.group_form.close_order_form {
    display: none;
}

.order_form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.error_form {
    color: red;
    font-size: 8pt;
    margin: 2px;
}

.form_block_left, .form_block_right {
    width: 45%;
}

.button_block {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.button_block button {
    margin: 10px;
}

.group_select_block {
    display: flex;
    flex-direction: column;
}

.group_select_none {
    display: none;
}

.btn_group {
    width: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    border: none;
    color: snow;
    font: 8pt Georgia, serif;
}
