.btn_submit {
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font: 12pt Verdana, serif;
    margin-top: 40px;
    padding: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn_submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn_submit:hover:enabled {
    background-color: #45a049;
}

.err_login {
    color: #656565;
    font-size: 8pt;
    margin: 2px;
}

label {
    font-size: 10pt;
}

.form_block {
    align-items: center;
    background-color: #EDEDED;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

.logo_form {
    width: 50%;
}

.login_form {
    height: 80%;
    width: 90%;
}
