.btn_open {
    text-align: center;
    background-color: #267cb5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 9vw;
    height: 30px;
    font: 10pt Tahoma, sans-serif;
    margin: 5px;
}

.btn_open:hover {
    background-color: #0056b3;
    color: snow;
}

.btn_open[disabled] {
    background-color: cornflowerblue;
    color: #D3EAFF;
    border: none;
    cursor: not-allowed;
}
