.user_statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat_content {
    color: #708090;;
    font: 18pt Georgia, serif;
}

.data_none {
    display: none;
}

.count_content {
    color: #708090;
    font: 18pt Helvetica, sans-serif;
}

