.admin_page {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-color 0.3s ease;
    width: 100%;
    z-index: 1;
}
