.admin_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Начальная прозрачность заднего фона */
    display: block;
    z-index: 1;
    transition: background-color 0.3s ease; /* Плавное изменение прозрачности */
}
